<header>
  {% if page.url === "/" %}
    <h1>{{ config.name }}</h1>
  {% else %}
  <h1>
    <a href="/">{{ config.name }}</a>
  </h1>
  {% endif %}
  <nav>
    <ul>
      <li>
        {% if page.url === "/" %}
          <span>MAILROOM</span>
        {% else %}
          <a href="/">MAILROOM</a>
        {% endif %}
      </li>
      <li>
        {% if page.url === "/archive/" %}
          <span>ARCHIVE</span>
        {% else %}
          <a href="/archive">ARCHIVE</a>
        {% endif %}
      </li>
      <li>
        {% if page.url === "/about/" %}
          <span>ABOUT</span>
        {% else %}
          <a href="/about">ABOUT</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>
